*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(120deg,#e2c35d,#d88771);
    color:white;
    height: 100vh;
}
h1,
form,
.todo-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}
input,
button{
    font-size:1.5rem;
    border: none;
    outline:none;
}
.input-box,
.add-button{
    padding: 0.5rem;
}
.todo-container{
    background-color: white;
    margin: 1rem 0rem;
}
.todo-list{
    list-style: none;
    color: black;
    font-size: 1.5rem;
    padding: 0rem 1rem;
}
.delete-btn,
.complete-btn{
    cursor: pointer;

}
.delete-btn{
    background-color: red;
}
.complete-btn{
    background-color: green;
}